/*! ============ COMMON STYLES  ================= */

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.accent-color {
    color: #fd9222;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 367px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

/*! ============ COMMON STYLES  ================= */

/* *************** MOBILE STYLES **************** */
/* ========== HEADER ============== */

.main-header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
    gap: 24px;
}

.social-list {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.11111;
    letter-spacing: -0.03em;
    color: #111111;
}

.logo-icon {
    margin-left: 4px;
}

.menu-link {
    color: #111111;
    transition: color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
    color: #FD9222;
}

@media screen and (max-width: 767px) {
    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
        stroke: #111111;
        transition: transform 250ms linear;
    }

    .mobile-menu-open-btn:hover,
    .mobile-menu-open-btn:focus {
        transform: scale(1.14);
    }


    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 240px;
        height: 100%;
        z-index: 99999999;
        background-color: #1e1823;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
        padding: 136px 48px 20px 20px;
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
        stroke: #fff;
        transition: stroke 250ms linear;
    }

    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        stroke: #FD9222;
    }

    .mobile-menu-navigation {
        padding-left: 28px;

    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 540px;
    }

    .mobile-menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14286;
        letter-spacing: -0.02em;
        color: #fff;
        transition: color 250ms linear;
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: #fd9222;
    }

    .mobile-menu-social-list {
        display: flex;
        gap: 18px;
    }

    .mobile-menu-social-list-link {
        stroke: #fff;
        fill: none;
    }
}

/* ============= HEADER ============== */
/* ============= HERO ============== */

/* ============= HERO ============== */
/* ****************** MOBILE STYLES *************** */

/* ******************** TABLET STYLES  ************** */
/* ============= HEADER ============== */
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }



    .mobile-menu-open-btn {
        display: none;
    }

    .logo {
        margin-right: 101px;
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    .menu {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .social-list {
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
    }



    .menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14286;
        letter-spacing: -0.02em;
        color: #111;
    }

    .social-list-link {
        display: block;
        line-height: 0;
        fill: none;
        stroke: #111111;
        transition: stroke 250ms linear;
    }

    .social-list-link:hover,
    .social-list-link:focus {
        stroke: #fd9222;
    }
}

/* ============= HEADER ============== */
/* ============= HERO ============== */

/* ============= HERO ============== */
/**************** /TABLET STYLES  *****************/

/**************** DESKTOP STYLES  ******************/
/* ============= HEADER ============== */


@media screen and (min-width: 1168px) {
    .container {
        max-width: 1168px;
    }

    .logo {
        margin-right: 447px;
    }
}

/* ============= HEADER ============== */
/* ============= HERO ============== */

/* ============= HERO ============== */
/**************** /DESKTOP STYLES  *****************/